.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.05);
}

.task .left {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.task .done {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.task .info > h1 {
    margin: 0;
    font-family: Pretendard;
    font-weight: normal;
    font-size: 24px;
}

.task .info > h2 {
    margin: 0;
    font-family: Pretendard;
    font-weight: normal;
    font-size: 16px;
}

.task .info > .buttons {
    display: flex;
    flex-direction: row;
}

.task .buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.imgButton {
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.imgButton > img {
    width: 100%;
    height: 100%;
}
