.taskContainer {
    height: 50%;
    min-height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
    box-sizing: border-box;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.05);
}

.task.done {
    color: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
}

.task .left {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    overflow: hidden;
}

.task .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 18px;
}

.task .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    overflow: hidden;
}

.task .info > h1 {
    margin: 0;
    font-family: Pretendard;
    font-weight: normal;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task .info > h2 {
    margin: 0;
    font-family: Pretendard;
    font-weight: normal;
    font-size: 14px;
}

.task .right {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.imgButton {
    background: none;
    border: none;
    width: 32px;
    height: 32px;
}

.imgButton > img {
    width: 100%;
    height: 100%;
}
